.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rbc-calendar {
  flex: 1;
  min-height: 580px;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-month-view {
  position: relative;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;

  height: 100%;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0; 
  flex-basis: 0px;
  overflow: hidden;

  height: 100%; 

  
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}

.rbc-month-header {
  display: flex;
  flex-direction: row;
}
.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg {
  flex: 1 0 0%;
    border-left: 1px solid;
  }
  
  .rbc-now {
    font-weight: bold;
  }

  body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

  h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
		
	#app {
		width: 1100px;
		margin: 0 auto;
	}
		
	#external-workouts {
		float: left;
		width: 120px;
    padding: 0 10px;
    margin: 30px;
		border: 1px solid #ccc;
		background: #eee;
    text-align: center;
	}
		
	#external-workouts h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-workouts .fc-event {
		margin: 10px 0;
    cursor: pointer;
	}
		
	#external-workouts p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-workouts p input {
		margin: 0;
    vertical-align: middle;
	}

	#calendar {
    float: right;
    margin: 30px;
    width: 750px;
	}